/**
 * Typography styles.
 */

/**
 * Remove the default margin from text elements.
 */
p,
h1,
h2,
h3 {
    margin: 0 0 1.5rem 0;
}

/**
 * Intro styles
 */
.intro {
    margin: 0 0 4rem;

    font-size: 2rem;
}
