/**
 * The slide component.
 */

@import "../../../scss/config/colors";

.slide {
    position: absolute;;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 8rem 2rem 2rem 2rem;
}

.slide-transition-enter {
  opacity: 0.01;
}

.slide-transition-enter.slide-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.slide-transition-leave {
  opacity: 1;
}

.slide-transition-leave.slide-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
