/**
 * Color configuration, use this file to declare variables.
 * Never declare styles in this file.
 */

$blue: #59C6D6;

$black: #000;
$gray-dark: #253E55;
$gray-light: #F9FAFF;
$white: #fff;

$primary: $blue;
$secondary: $gray-dark;
