/**
 * Typography configuration, use this file to declare variables.
 * Never declare styles in this file.
 */

$font-size: 1.6rem;
$font-family: Helvetica, Arial, sans-serif;

$h1-font-size: 2.4rem;
$h2-font-size: 2rem;
$h3-font-size: 1.8rem;
